@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

@media only screen and (max-width: 700px){

  .container{
    display: grid;
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: 60px repeat(34, 100px) 60px;  
    grid-gap: 5px;
  }
   html{
      scroll-behavior: smooth;
  }

  body{
    font-family: Monospace;
    background-color: #008080 ;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  h1{
    font-family: "Roboto Condensed";
    font-size: 25px;
    line-height: 1;
    padding: 5px;
    text-align: center;
  }

  h2{
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 1;
  }
  p{
    padding-top: 0px;
    font-size: 5px
    color: red;
  }

  nav ul:focus{
    list-style-type: none;
  }

  nav li{
   display: inline-block;
   padding-right: 12px;
   font-family: "Roboto Condensed";
  }

  nav a{
    color: #008080;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:focus{
    text-decoration: /*Your code here - add the underline*/;
    border:2px solid black;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;/*Your code here - position relative to the parent */;
    top: -40px;     /*Your code here - place 40px higher */;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    border:2px solid black;
    position: absolute;
    top:0;
  }

  a:hover{
    text-decoration: underline;
  }
  img:hover{
    -webkit-filter: grayscale(100%);
  }

  .nav{
    background-color: white;
    padding: 20px 0;
    text-align: left;
    grid-area: 1 / 1 / 2 / 5;
    border: 2px solid black;
    position: fixed;
    top:0;
    width:100%;
    text-align: right;
  }

  header{
    color: white;
    grid-area: 2 / 2 / 3 / 4;
  }

  header p{
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .flip-card {
  grid-area: 3 / 2 / 5 / 4;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back img{
  height: 100%;
}
.flip-card-front img{
  height:100%;
}

.flip-card-front img:hover{
  -webkit-filter: none;
}
.flip-card-back img:hover{
  -webkit-filter: none;
}

  .about{
  grid-area: 5 / 2 / 7 / 4;
  }

  .hobbies{
      grid-area: 8 / 2 / 12 / 3;
    }
  .hobbies-image{
      grid-area: 8 / 3 / 9 / 4;
      width:auto;
      overflow: hidden;
      border: 2px solid black;
   }
   .hobbies-image img{
    height:100%;
    width: 100%;
   }
  .hobbies-image2{
      grid-area: 9 / 3 / 10 / 4;
      overflow: hidden;
      border: 2px solid black;}
  .hobbies-image2 img{
    height:100%;
    width: 100%;
   }
  .hobbies-image3{
      grid-area: 10 / 3 / 11 / 4;
      overflow: hidden;
      border: 2px solid black;
    }
    .hobbies-image3 img{
    height:100%;
    width: 100%;
   }
  .hobbies-image4{
      grid-area: 11 / 3 / 12 / 4;
      overflow: hidden;
      border: 2px solid black;}
  .hobbies-image4 img{
    height:100%;
    width: 100%;
   }

  .work-image{
    /*Your code here */
    grid-area: 23 / 2 / 25 / 4;
    overflow: hidden;
    border: 2px solid black;
  }
  .work-image img{
    width:100%;
    height: 100%;
  }
  .work-image2{
      grid-area: 19 / 2 / 21 / 4;
      overflow: hidden;
      border: 2px solid black;
    }
    .work-image2 img{
    width:100%;
    height: 100%;
  }
  .work-image3{
      grid-area: 15 / 2 / 17 / 4;
      overflow: hidden;
      border: 2px solid black;
    }

    .work-image3 img{
    width:100%;
    height: 100%;
  }

  .work3{
      grid-area: 21 / 2 / 23 / 4;
    }

  .work2{
      grid-area: 17 / 2 / 19 / 4;
    }
  .work{
    grid-area: 13 / 2 / 15 / 4;
  }

  .resume-image{
    grid-area: 28 / 2 / 32 / 4;
    overflow: hidden;
    border: 2px solid black;
   /*Your code here */
  }
  .resume-image img{
     width:100%;
    height: 100%;
  }

  .resume{
    grid-area: 26 / 2 / 28 / 4;
  }

  .contact-image{
    grid-area: 33 / 3 / 34 / 4;
    overflow: hidden;
    border: 2px solid black;
    width:96px;
       }
  .contact-image img{
    height:100%;
  }
  .contact-image2{
     display:none;
    }
  .contact-image2 img{
    height:100%;
  }
  .contact-image3{
    display:none;
     
   }
   .contact-image3 img{
    height:100%;
  }

  .contact{
    grid-area: 33 / 2 / 34 / 3;
  }
  .contact2{
      grid-area: 34 / 2 / 35 / 4;
     }
 



   form{
       grid-area: 35 / 2 / 36 / 4;
       background-color: white;
    border: 2px solid black;
    padding: 8px;
     }
     .row-input{
  width: 100%;
  padding-top: 5px;
  line-height: 1em;
}

.row-input input, textarea{
  float: right;
  width: 60%;
  font-size: 10px;
}





  .text-block{
     /*Your code here */
    background-color: white;
    border: 2px solid black;
    padding: 15px;
   
    }

  footer{
    background-color: white;
    color: #008080;
    grid-area: 36 / 1 / 37 / 5;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    border: 2px solid black;
  }

  footer p{
font-size:8px;
  }

  h1{
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
      padding-bottom: 20px;
  }
  .michigan{
    grid-area: 33 / 3 / 33 / 4;
    margin-left: 170px;
    }
  .michigan img{
    width: 60px;
    display:block;
    animation: animate 5s linear infinite;
  }
   @keyframes animate {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(65px); }
        100% { transform: translateY(0); }
    }
}

/*===========================================================================================================================================================================*/


@media only screen and (max-width: 1299px) and (min-width:701px){

  .container{
    display: grid;
    grid-template-columns: 60px 1fr 1fr 60px;
    grid-template-rows: 60px repeat(34, 100px) 60px;  
    grid-gap: 5px;
  }
   html{
      scroll-behavior: smooth;
  }

  body{
    font-family: Monospace;
    background-color: #008080 ;
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  h1{
    font-family: "Roboto Condensed";
    font-size: 25px;
    line-height: 1;
    padding: 5px;
    text-align: center;
  }

  h2{
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 1;
  }
  p{
    padding-bottom:0px;
    font-size: 5px
    color: red;
  }

  nav ul:focus{
    list-style-type: none;
  }

  nav li{
   text-align: left;
   display: inline-block;
   padding-right: 12px;
   font-family: "Roboto Condensed";
  }

  nav a{
    color: #008080;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none; /*Your code here - remove the underline*/;
  }

  nav a:focus{
    text-decoration: /*Your code here - add the underline*/;
    border:2px solid black;
  }
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;/*Your code here - position relative to the parent */;
    top: -40px;     /*Your code here - place 40px higher */;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    border:2px solid black;
    position: absolute;
    top:0;
  }

  a:hover{
    text-decoration: underline;
    
  }
  img:hover{
    -webkit-filter: grayscale(100%);
  }

  .nav{
    grid-area: 1 / 1 / 2 / 5;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    border: 2px solid black;
    position: fixed;
    top:0;
    width:100%;
  }

  header{
    color: white;
    grid-area: 2 / 2 / 3 / 4;
  }

  header p{
    color: white;
    font-size: 16px;
    text-align: center;
  }

.flip-card {
  grid-area: 3 / 2 / 5 / 4;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back img{
  height: 100%;
}
.flip-card-front img{
  height:100%;
}
.flip-card-front img:hover{
  -webkit-filter: none;

}
.flip-card-back img:hover{
  -webkit-filter: none;

}
  .about{
  grid-area: 5 / 2 / 7 / 4;
  }

  .hobbies{
      grid-area: 8 / 2 / 10 / 3; 
    }
  .hobbies-image{
      grid-area: 8 / 3 / 10 / 4;
      max-width: 320px;
      overflow: hidden;
      border: 2px solid black;
   }
   .hobbies-image img{
    height:100%;
   }
  .hobbies-image2{
      grid-area: 10 / 3 / 12 / 4;
      overflow: hidden;
      max-width: 320px;
      border: 2px solid black;}
  .hobbies-image2 img{
    height:100%;
  }
  .hobbies-image3{
      grid-area: 10 / 2 / 12 / 3;
      overflow: hidden;
      max-width: 320px;
      border: 2px solid black;
    }
    .hobbies-image3 img{
      height:100%;
    }
  .hobbies-image4{
      opacity: 0;
    }
  .work-image{
    /*Your code here */
    grid-area: 23 / 2 / 25 / 4;
    overflow: hidden;
    border: 2px solid black;
    max-width: 390px;
  }
  .work-image2{
      grid-area: 19 / 2 / 21 / 4;
      overflow: hidden;
      max-width: 390px;
      border: 2px solid black;
    }
  .work-image3{
      grid-area: 15 / 2 / 17 / 4;
      overflow: hidden;
      max-width: 390px;
      border: 2px solid black;
    }

  .work3{
      grid-area: 21 / 2 / 23 / 4;
    }
  .work2{
      grid-area: 17 / 2 / 19 / 4;
    }
  .work{
     grid-area: 13 / 2 / 15 / 4;
  }

  .resume-image{
    grid-area: 27 / 2 / 32 / 4;
    overflow: hidden;
    border: 2px solid black;
  }
  .resume-image img{
    width: 100%;
    height: 100%;
  }

  .resume{
    grid-area: 26 / 2 / 27 / 4;
  }

  .contact-image{
    grid-area: 33 / 3 / 34 / 4;
    overflow: hidden;
    border: 2px solid black;
    width: 96px;

       }
  .contact-image img{
    height: 100%;
  }
  .contact-image2{
     grid-area: 34 / 3 / 35 / 4;
     overflow: hidden;
     border: 2px solid black;
     width: 96px;
    }
    .contact-image2 img{
    height: 100%;
  }
  .contact-image3{
     grid-area: 35 / 3 / 36 / 4;
     overflow: hidden;
     border: 2px solid black;
     width: 96px;
   }
   .contact-image3 img{
    height: 100%;
  }

  .contact{
    grid-area: 33 / 2 / 34 / 3;
  }
  .contact2{
      grid-area: 34 / 2 / 35 / 3;
     }
  

  form{
       grid-area: 35 / 2 / 36 / 3;
       background-color: white;
    border: 2px solid black;
    padding: 8px;
     }
     .row-input{
  width: 60%;
  padding-top: 5px;
  line-height: 1em;
}

.row-input input, textarea{
  float: right;
  width: 60%;
  font-size: 10px;
}




  .text-block{
    background-color: white;
    border: 2px solid black;
    padding: 15px;
   
    }

  footer{
    background-color: white;
    color: #008080;
    grid-area: 36 / 1 / 37 / 5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid black;
  }
    h1{
    color: #e0dfdc;
    
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
      padding-bottom: 20px;
  }
  .michigan{
    grid-area: 35 / 4 / 35 / 4;
    
    }
  .michigan img{
    width: 40px;
    display:block;
    animation: animate 5s linear infinite;
  }
   @keyframes animate {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(80px); }
        100% { transform: translateY(0); }
    }
}
/*===========================================================================================================================================================================*/

@media only screen and (min-width: 1300px){
  .container{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr) 100px;
    /*grid-template-rows: repeat(30, 100px);   */
    grid-template-rows: 60px repeat(19, 220px) 80px;
    grid-gap: 15px;
    align-items: stretch;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: Monospace;
    background-color: #008080;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  h1{
    font-family: "Roboto Condensed";
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }

  h2{
    font-family: "Roboto Condensed";
    font-size: 32px;
    line-height: 1;
  }
  p{
    padding-top: 5px;
  }

  nav ul:focus{
    list-style-type: none;
  }

  nav li{
   text-align: left;
   display: inline-block;
   padding-right: 20px;
   font-family: "Roboto Condensed";
  }

  nav a{
    color: #008080;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none; /*Your code here - remove the underline*/;
  }

  nav a:focus{
    text-decoration: /*Your code here - add the underline*/;
    border:2px solid black;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;   
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    border:2px solid black;
    position: absolute;
    top:0;
  }
  img:hover{
    -webkit-filter: grayscale(100%);
  }
  a:hover{
    text-decoration: underline;
  }


  footer{
    background-color: white;
    color: black;
    grid-area: 30 / 1 / 31 / 6;
    padding-top: 30px;
    text-align: center;
    border: 2px solid black;
  }
  
  .nav a.active{
  font-weight:bold;
  background:darkblue;
  color:white;
  }
  .nav{
    background-color: white;
    padding: 20px 0; 
    text-align: left; 
    grid-area: 1 / 1 / 2 / 6;
    border: 2px solid black;
    position: fixed;
    top:0;
    width:100%;
  }

  header{
    background-attachment: fixed; /* Parallax effect */
    background-image: url("../images/header.jpg");      
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    grid-area: 2 / 2 / 3 / 5
  }

  header p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
  }   

    body{
      background-color:#008080;
    }
    

.flip-card {
  grid-area: 3 / 2 / 5 / 5;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-front img:hover{
  -webkit-filter: none;

}
.flip-card-back img:hover{
  -webkit-filter: none;

}
    .about{
      grid-area: 5 / 2 / 6 / 5;
      
      /*Your code here */
    }
    .hobbies{
      grid-area: 7 / 3 / 9 / 4;
    }
    .hobbies-image{
      grid-area: 7 / 2 / 8 / 3;
      overflow: hidden;
      border: 2px solid black;
    }
    .hobbies-image img{
      width: 100%;
    }
    .hobbies-image2{
      grid-area: 7 / 4 / 8 / 5;
      overflow: hidden;
      border: 2px solid black;
      
    }
    .hobbies-image3{
      grid-area: 8 / 4 / 9 / 5;
      overflow: hidden;
      border: 2px solid black;
    }
    .hobbies-image3 img{
      width:100%;
    }
    .hobbies-image4{
      grid-area: 8 / 2 / 9 / 3;
      overflow: hidden;
      border: 2px solid black;
    }

    .work-image{
      grid-area: 12 / 2 / 13 / 3;
      overflow: hidden;
      border: 2px solid black;
    }
    .work-image2{
      grid-area: 11 / 4 / 12 / 5; 
      overflow: hidden;
      border: 2px solid black;
    }
    .work-image3{
      grid-area: 10 / 2 / 11 / 3;
      overflow: hidden;
      border: 2px solid black;
    }

    .work3{
      grid-area: 12 / 3 / 13 / 5; 
    }

    .work2{
      grid-area: 11 / 2 / 12 / 4;
    }

    .work{
      grid-area: 10 / 3 / 11 / 5; 
    }

    .resume-image{ 
      grid-area: 14 / 3 / 17 / 5;
      border: 2px solid black;
      overflow: hidden;
    }
    .resume-image img{
      width: 100%;
      height: 100%;
    }

    .resume{
      /*Your code here */
      grid-area: 14 / 2 / 17 / 3;
      
    }

    .contact-image{
     grid-area: 18 / 4 / 19 / 5;
     overflow: hidden;
     border: 2px solid black;
     margin-left: auto;
     margin-right: auto;

    }
    .contact-image2{
     grid-area: 19 / 4 / 20 / 5;
     overflow: hidden;
     border: 2px solid black;
     margin-left: auto;
     margin-right: auto;

    }
    .contact-image3{
     grid-area: 20 / 4 / 21 / 5;
     overflow: hidden;
     border: 2px solid black;
     margin-left: auto;
     margin-right: auto;

    }

    .contact{
       grid-area: 18 / 2 / 19 / 4; 

      /*Your code here */
     }
    .contact2{
       grid-area: 19 / 2 / 20 / 4;
      /*Your code here */
     }
     
    form{
       grid-area: 20 / 2 / 21 / 4;
       background-color: white;
    border: 2px solid black;
    padding: 30px;
      /*Your code here */
     }
     .row-input{
  width: 70%;
  padding-top: 5px;
  line-height: 2em;
}

.row-input input, textarea{
  float: right;
  width: 70%;
  font-size: 18px;
}

     .text-block{
     /*Your code here */
    background-color: white;
    border: 2px solid black;
    padding: 30px;
    }

     footer{
    background-color: white;
    color: #008080;
    grid-area: 21 / 1 / 22 / 6;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid black;
  }
    h1{
    color: #e0dfdc;
    
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
    .nav a.current{
    color: black;
    }
   .michigan{
    grid-area: 20 / 5 / 20/ 6;
    }
   .michigan img{
    width: 90px;
    display:block;
    animation: animate 5s linear infinite;
  }
   @keyframes animate {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(170px); }
        100% { transform: translateY(0); }
    }
      @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
  }

  }
  
}

